template(name='register')
  form(class='form-horizontal')
    legend Register
    .form-group
      label(class='col-sm-2 control-label') First name
      .col-sm-10
        input(type='text', class='form-control', name='first_name', required)
    .form-group
      label(class='col-sm-2 control-label') Last name
      .col-sm-10
        input(type='text', class='form-control', name='last_name', required)
    .form-group
      label(class='col-sm-2 control-label') Email
      .col-sm-10
        input(type='email', class='form-control', name='email', required)
    .form-group
      label(class='col-sm-2 control-label') Password
      .col-sm-10
        input(type='password', class='form-control', name='password', required)
    .form-group
      label(class='col-sm-2 control-label') Password (again)
      .col-sm-10
        input(type='password', class='form-control', name='password_confirmation', required)
    .form-group
      .col-sm-offset-2.col-sm-10
        button(type="submit", class='btn btn-default') Submit

template(name='form')