head
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
  title meteor-site
body
  h1 Fruit Rescue Robot
  +loginButtons
  +addTreeForm
  +treeList
template(name='addTreeForm')
  form
    input(type='text', name='tree')
    input(type='submit', value='Add tree!')
template(name='treeList')
  ul
    each trees
      li {{name}}