head
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
  title fruit-rescue
body
  .container
    .jumbotron
      .h1 Fruit Rescue Project

    |   {{> register}}
    |   {{> addfruitform}}
  
  script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
  script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )


template(name='addfruitform')
  form
    input(type='text', name='fruit')
    input(type='submit', value='Add Fruit!')

template(name='register')
  .row
    .col-lg-1.col-lg-offset-5
      h2 Register!
  form
    .row
      .col-sm-6
        h2 First Name
      .col-sm-6
        input(type='text', name='first_name' placeholder='Joe')
    .row
      .col-sm-6
        h2 Last Name
      .col-sm-6
        input(type='text', name='last_name' placeholder='Spaceman')
    .row
      .col-sm-6
        h2 Email
      .col-sm-6
        input(type='text', name='email' placeholder='bubblegum@hotmail.com')
    .row
      .col-sm-6
        h2 Password
      .col-sm-6
        input(type='text', name='password' placeholder='12345')
    .row
      .col-sm-12
        input(type="submit" value="Register")
        

  
template(name='seefruit')
  form
    input(type='text', name='fruit')
    input(type='submit', value='Add Fruit!')

